# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Python cache / tools
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Large raw datasets
# =========================
data/raw/*.csv

# =========================
# Temporary files
# =========================
*.tmp
*.log

# Local backup of old experiments
backup_old_models/
backup_old_notebook_artifacts/